HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
tt-manager/tt-manager-web/target/
tt-portal/target
tt-rest/target
tt-manager/tt-manager-mapper/target
tt-manager/tt-manager-service/target
tt-common/target
tt-search/target

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
