<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyv.taotao.mapper.TaoItemParamMapper">

    <select id="selectByCatId" resultType="TaoItemParamEntity">
        select id,item_cat_id,param_data
        from tb_item_param where item_cat_id=#{catId}
    </select>

    <insert id="saveItemParam" parameterType="TaoItemParamEntity">
        insert into tb_item_param (item_cat_id,param_data,created,updated)
        values (#{itemCatId},#{paramData},now(),now())
    </insert>

    <!--取出列表数据-->
    <select id="listItemCategoryParam" resultType="com.liyv.taotao.dto.TaoItemParamDTO">
        select tp.id,tc.name as categoryName,tp.param_data,DATE_FORMAT(tp.created,'%Y-%m-%d %H:%i:%S') as createDate,
        DATE_FORMAT(tp.updated,'%Y-%m-%d %H:%i:%S') as updateDate
        from tb_item_param tp left join tb_item_cat tc on tp.item_cat_id=tc.id
        limit #{start},#{size}
    </select>

    <select id="countItemCategoryParam" resultType="int">
        select count(*) from tb_item_param
    </select>
</mapper>